@{
    ViewData["Title"] = "Collect";
}

<head>
    <link rel="stylesheet" href="~/css/MainPage/MainPage.css" />
</head>

<div class="collect-banner" style="height:300px;position:absolute;top:60px;left:300px;right:300px;">
    <img src="~/image/Search/banner.png" style="height:300px;width:1320px;">
</div>

<div class="collect-png" style="height:30px;position:absolute;top:420px;left:300px;">
    <img src="~/image/MainPage/Following.png" style="height:30px;position:absolute;top:0px;left:0px;" />
</div>

<div class="collect-image">
    @{
        int topp = 480;
        int leftt = 300;
        int i = 0;
        int cur = 0;
        <img src="~/image/footimg.png" style="position:absolute; left:@(leftt)px; top: @(topp)px">
        foreach (var work in ViewBag.imagelist)
        {
            if (cur == ViewBag.imagelist.Count) { break; }
            <a asp-controller="PictureInfo" asp-action="Index" asp-route-id="@ViewBag.imagelist[i].work_ID">
                <img src="~/image/MainPage/Card.png" class="WorkCard" style="position:absolute; top:@(topp)px; left: @(leftt)px">
                <img src="~/image/works/@(ViewBag.imagelist[i].picture)" style="position:absolute; top:@(topp)px; left: @(leftt)px" class="Works" alt="image wrong">
                <span class="WorkName" style="position:absolute; top:@(topp + 200)px; left: @(leftt + 16)px">@ViewBag.imagelist[i].headline</span>
            </a>
            i++;
            leftt += 268;
            if (i % 5 == 0)
            {
                topp += 260;
                leftt = 300;
            }
            <img src="~/image/footimg.png" style="position:absolute; left:@(leftt)px; top: @(topp + 240)px">
        }
        if (ViewBag.imagelist.Count == 0)
        {
            <div style="height:60px;width:1320px;position:absolute;top:@(topp + 180)px;left:300px;text-align:center;line-height:60px;font-size:30px;font-weight:bold;"> Empty</div>
        }
    }
</div>