@{
    ViewData["Title"] = "Home Page";
}
@{ 
    @using System.Security.Claims;
}

@model Comments

<head>
    <title>作品界面</title>
    <link rel="stylesheet" href="./css/work_style.css" />

    <style>
        body{
            
        }
        .backCard {
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
        }
        .showWork {
            width: 960px;
            height: 720px;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);

        }
        .workHeadline{
            font-weight:600;
            font-size: 36px;

        }
        .workIntroduction{
            font-size: 16px;
            opacity: 0.75;
        }
        .authorAvatar {
            width: 26px;
            height: 26px;
            border-radius: 13px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
        }
        .authorName{
            font-size: 16px;
            font-weight: 600;
        }
        .buttomWords {
            font-size: 14px;
            font-weight: 600;
            color:#FFFFFF
        }
        .commentAvatar {
            width: 40px;
            height: 40px;
            border-radius: 6px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
        }
        .commentName {
            font-size: 14px;
            opacity: 0.6;
        }
        .commentWords{
            font-size: 18px;
        }
    </style>
</head>

<body style="background-image:url('../../wwwroot/image/works/@ViewData["picture"]' }); background-size: cover;">
    <img src="~/image/work_res/BackCard.png" style="position:absolute; top:720px; left:480px" class="backCard">

    <div id="show_photo" style="position:absolute;left:480px;top:60px;">
        <img :src="work_photo" class="showWork" />
    </div>


    <div style="width:960px;">


        <div id="headline-component" style="position:absolute;left:540px;top:814px" class="workHeadline">
            {{ works.headline }}
        </div>

        <div id="introduction-component" style="position:absolute;left:540px;top:875px" class="workIntroduction">
            {{ works.introduction }}
        </div>


        @{
            int i = 0;

            <div id="label_component">

                <div v-for="p in label">
                    <div v-if="p==='Animation'" style="position:absolute;left:@(1268 - i * 132)px;top:822px">

                        <img src="/image/work_res/Animation.png" alt="{{p}}" />

                    </div>
                    <div v-else-if="p==='Illustration' " style="position:absolute;left:@(1268 - i * 132)px;top:822px">
                        <a :href="turnurl">
                            <img src="/image/work_res/Illustration.png" alt="{{p}}" />
                        </a>
                    </div>
                    <div v-else-if="p==='Painting' " style="position:absolute;left:@(1268 - i * 132)px;top:822px">
                        <a :href="turnurl">
                            <img src="/image/work_res/Painting.png" alt="{{p}}" />
                        </a>
                    </div>
                    <div v-else-if="p==='Photograph' " style="position:absolute;left:@(1268 - i * 132)px;top:822px">
                        <a :href="turnurl">
                            <img src="/image/work_res/Photograph.png" alt="{{p}}" />
                        </a>
                    </div>
                    <div v-else-if="p==='UI_Design' " style="position:absolute;left:@(1268 - i * 132)px;top:822px">
                        <a :href="turnurl">
                            <img src="/image/work_res/UI_Design.png" alt="{{p}}" />
                        </a>
                    </div>
                </div>


            </div>
        }


        @{ 
            if(User.Identity.IsAuthenticated && (User.IsInRole("Admin") || (string)ViewData["workuser_ID"] == User.FindFirstValue(ClaimTypes.NameIdentifier)))
            {
                <a asp-action="DeleteWork">
                    <img src="~/image/work_res/deleteButtom.png" style="position:absolute; left:510px; top: 830px"/>
                </a>
            }
        }


        @{
            if (!User.Identity.IsAuthenticated)
            {
                <a asp-action="Welcome" asp-controller="Login">
                    <img src="/image/work_res/complain.png" style="position:absolute; top: 832px; left: 1400px" />
                </a>
            }
            else if (!(User.IsInRole("Admin") || (string)ViewData["workuser_ID"] == User.FindFirstValue(ClaimTypes.NameIdentifier)))
            {
                <div id="report-component">
                    <img src="/image/work_res/complain.png" v-on:click="addReport" alt="complain" id="complain" style="position:absolute; top: 832px; left: 1400px" />
                </div>
            }

        }

        @{
            if (User.Identity.IsAuthenticated && (string)ViewData["workuser_ID"] == User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <div id="user-component" style="position:absolute;left:585px;top:949px" class="authorName">
                    {{ works.user_name}}
                </div>
            }
            else
            {
                <div id="follow-component" style="position:absolute;left:540px;top:942px">
                    <div v-if="is_login === false">
                        <a asp-action="Welcome" asp-controller="Login">
                            <img src="/image/work_res/follow.png" />
                        </a>
                    </div>
                    <div v-else>
                        <img :src="follow_photo" v-on:click="follow" alt="follow" id="follow" />
                    </div>
                </div>

                <div id="user-component" style="position:absolute;left:675px;top:949px" class="authorName">
                    {{ works.user_name}}
                </div>
            }
        }

        <div id="avatar_component" style="position:absolute;left:545px;top:947px;" class="authorAvatar">
            <a asp-controller="PersonInfo" asp-action="Index" asp-route-id="@ViewData["workuser_ID"]">
                <img alt="新用户" :src="head_photo" style="width:100%; height:100%" class="authorAvatar" />
            </a>
        </div>



        <div id="likes_component">
            <div v-if="is_login === false">
                <a asp-action="Welcome" asp-controller="Login">
                    <img src="/image/work_res/like.png" style="position:absolute;left:1060px;top:942px" />
                </a>
            </div>
            <div v-else>
                <img :src="likes_photo" v-on:click="addLikes" style="position:absolute;left:1060px;top:942px" />
            </div>
            <div v-for="u in works">
                <label v-model="likes" style="position: absolute; left:1103px; top:950px; color:#FF21AD" class="buttomWords" id="likenum">{{ likes }}</label>
            </div>
        </div>

        <div id="collect-component">
            <div v-if="is_login === false">
                <a asp-action="Welcome" asp-controller="Login">
                    <img src="/image/work_res/collect.png" style="position:absolute;left:1160px;top:942px" />
                </a>
            </div>
            <div v-else>
                <img :src="collect_photo" v-on:click="addCollect" style="position:absolute;left:1160px;top:942px" />
            </div>
            <div v-for="u in works">
                <label v-model="collect" style="position:absolute;left:1203px;top:950px;color:#FFB000" class="buttomWords" id="collectnum">{{ collect }}</label>
            </div>
        </div>

        <div id="download-component">
            <div v-if="is_login === false">
                <a asp-action="Welcome" asp-controller="Login">
                    <img src="~/image/work_res/download.png" style="position:absolute;left:1260px;top:942px" />
                </a>
            </div>
            <div v-else>
                <img src="/image/work_res/download.png" v-on:click="ifEnoughPoint" style="position:absolute;left:1260px;top:942px" />
            </div>

        </div>

        <div id="point-component">
            <div style="position:absolute;left:1315px;top:950px">
                <div v-for="u in works" class="buttomWords">
                    {{ u.points_need }}
                </div>
            </div>
        </div>

    </div>

    <div>
        <form asp-action="AddComment">
            <input asp-for="addComment" type="text" style="position:absolute; top:1092px; left:540px; width: 730px; height: 36px" class="form-control" placeholder="Comment here .." Maxlength=150 required oninvalid="setCustomValidity('Please Input comment')" oninput="setCustomValidity('')">
            <input type="submit" value="Submit" class="btn btn-primary btn-block btn-flat" style="position:absolute; left:1290px; top: 1092px; width: 90px; height: 36px">
        </form>
    </div>


    @{
        int topp = 1170;
        int leftt = 540;
        <img src="~/image/footimg.png" style="position:absolute; left:@(leftt)px; top: @(topp)px">
        foreach (var item in Model.comments)
        {
            <a asp-action="Index" asp-controller="PersonInfo" asp-route-id="@item.commenterid">
                <img src="~/image/avatar/@item.avatar" class="commentAvatar" style="position:absolute; left:@(leftt)px; top: @(topp)px">
                <span class="commentName" style="position:absolute; left:@(leftt+60)px; top: @(topp)px">@item.name</span>
            </a>
            <span class="commentWords" style="position:absolute; left:@(leftt+60)px; top: @(topp+30)px">@item.words</span>
            <img src="~/image/work_res/commentLine.png" style="position:absolute; left:@(leftt+60)px; top: @(topp+60)px">
            <img src="~/image/footimg.png" style="position:absolute; left:@(leftt)px; top: @(topp)px">
            topp += 120;
        }
    }






</body>

@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/axios/axios.js"></script>
    <script src="~/js/VueWork.js"></script>
}