@model IEnumerable<No9Gallery.Models.MessageReceivelist>
@{
    ViewData["Title"] = "MessageReceive";
}
<style>

    table tbody {
        display: block;
        height: 195px;
        overflow-y: scroll;
    }

    table thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    table thead {
        width: calc( 100% - 1em )
    }

        table thead th {
            background: #ccc;
        }
</style>




<table class="table" style="position:absolute; top:60px; left:300px; width: 1320px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_read)
            </th>

            <th>
                设置已读
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @if (item.is_read == "未读")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_read)

                    </td>
                    <td>
                        <form name=@item.message_ID asp-controller="PersonInfo" asp-action="setRead" method="post">
                            <input type="text" name="toSetRead" style="display:none" value=@item.message_ID>
                            <input type="submit" value="设置为已读">
                        </form>
                    </td>



                </tr>
            }
        }
    </tbody>
</table>




<table class="table" style="position:absolute; top:360px; left:300px; width: 1320px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_read)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.is_read == "已读")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_read)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
